html, body {

   font-size: 18px;
}


#wrapper, #footer {
  width: 840px;
}

html #wrapper {

}

#content {
  padding-bottom: 40px; /* >= height of the footer */
}

/*******************************************************************************/
 
 #txtPrompt {
 font-size: 18px;
 }

#txtInput {
 font-size: 18px;
}

#lessonInput {
  padding: 1em 0;
}


#lesson {
font-size: 18px;
}

#level {
font-size: 18px;
}

#shape {
font-size: 18px;
}

#layout {
font-size: 18px;
}

#variant {
font-size: 18px;
}

#hints {
transform : scale(1.5);
}

#lessonInput textarea {
 height: 85px; 
 width: 100%;
}

#lessonInput textarea.error {
  background-color: red;
}

.hints #lessonInput textarea {
 width: 80%;
  }



