.nkey {
  background-color: #ffffcc;
}

/**
 * graphical keyboard layout, fixed size (664*230px)
 */

ul#keyboard, ul#keyboard ul {
  margin: 0;
  padding: 0;
  background-color: #ffffcc;
  }


/******************************************************************************
 * Default Keyboard Geometry (pc104)
 */

/* rows */
ul#keyboard li {
  list-style-type: none;
  clear: both;
  margin: 0;
  padding: 0;
}
ul#keyboard li#row_AD {
  position: absolute;
}
ul#keyboard li#row_AC {
  position: absolute;
}
ul#keyboard li#row_AB {
  position: absolute;
}
ul#keyboard li#row_AA {
  position: absolute;
}

/* keys */
ul#keyboard li li {
  position: relative;
  float: left;
  clear: none;
  margin: 2px;
  border: 1px solid black;
   -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
       -ms-border-radius: 5px;
        -o-border-radius: 5px;
           border-radius: 5px;
}

ul#keyboard li strong {
  position: absolute;
  font-weight: normal;
  top: 2px;
  left: 3px;
}
ul#keyboard li em {
  position: absolute;
  font-style: normal;
  bottom: 2px;
  left: 3px;
}
ul#keyboard li .deadKey {
  font-size: larger;
  /*color: red;*/
}

/* special keys */
ul#keyboard li.specialKey {
  background-color: #ddd;
}
ul#keyboard li.specialKey * {
  font-style: italic;
}
li#row_AA li.specialKey {
}

ul#keyboard li#key_TAB,
ul#keyboard li#key_BKSP {
}

ul#keyboard li#key_CAPS,
ul#keyboard li#key_RTRN {
}

ul#keyboard li#key_LFSH,
ul#keyboard li#key_RTSH {
}

ul#keyboard li#key_SPCE {
}

ul#keyboard li#key_MENU {
}

/* hide LSGT for pc104 (default) */
li#key_LSGT, li#key_CAPS105, li#key_RTRN105 {
  display: none;
}


/******************************************************************************
 * European Keyboard Geometry (pc105)
 */

.pc105 li#key_LFSH {
}

.pc105 li#key_RTRN {
}

.pc105 li#key_BKSL {
}

.pc105 li#key_LSGT {
  display: block;
}
/* visual tweaks for CapsLock and Return */
.pc105 li#key_CAPS105, .pc105 li#key_RTRN105 {
  background-color: #e8e8e8 !important;
  display: block;
}
.pc105 li#key_CAPS {
}

.pc105 li#key_CAPS, .pc105 li#key_RTRN {
  z-index: 1;
}

.pc105 li#key_CAPS105 {
}

.pc105 li#key_RTRN105 {
}


/******************************************************************************
*/

.pcrus li#key_BKSL {
}
.pcrus li#key_LSGT {
  display: block;
}
/* visual tweaks for CapsLock and Return */
.pcrus li#key_CAPS105, .pcrus li#key_RTRN105 {
  background-color: #e8e8e8 !important;
  display: block;
}
.pcrus li#key_CAPS {
}

.pcrus li#key_CAPS, .pccyr li#key_RTRN {
  z-index: 1;
}
.pcrus li#key_CAPS105 {
}


.pcrus li#key_RTRN105 {
}


.pcrus li#key_LSGT {
display: none;
}

.pcrus li#key_BKSL {
display: none;
}


/******************************************************************************
 * Ergonomic Keyboard Geometry (TMx)
 */

.tmx li#key_CAPS {
  display: none;
}
.tmx li#key_BKSL {
}

.tmx li#key_TLDE, .tmx li#key_TAB,  .tmx li#key_LFSH, .tmx li#key_LCTL,
.tmx li#key_AE12, .tmx li#key_AD12, .tmx li#key_RTSH, .tmx li#key_RCTL,
.tmx li#key_BKSP, .tmx li#key_RTRN {
}

.tmx li#key_LWIN, .tmx li#key_LALT, .tmx li#key_RWIN, .tmx li#key_RALT {
}

.tmx li#key_TLDE, .tmx li#key_TAB, .tmx li#key_LFSH, .tmx li#key_LCTL {
}

.tmx li#key_AC01 {
}

* html .tmx li#key_AC01 {
}

.tmx li#key_AE06, .tmx li#key_AD06, .tmx li#key_AC06, .tmx li#key_AB06 {
}

.tmx li#key_BKSP {
}

.tmx li#key_RTRN {
}

.tmx li#key_LFSH, .tmx li#key_RTSH {
}

.tmx li#key_RTSH {
}

.tmx li#key_SPCE {
}


/******************************************************************************
 * Background Images for Tab, Backspace, Caps, Return, Shift
 */

li#key_TAB *, li#key_BKSP *, li#key_CAPS *,
li#key_LFSH *, li#key_RTSH *, li#key_RTRN * {
  display: none;
}
li.specialKey {
  background-repeat: no-repeat;
  background-position: bottom left;
}

li#key_TAB  { background-image: url(keyboard/key-tab.png);  }
li#key_BKSP { background-image: url(keyboard/key-bksp.png); }
li#key_CAPS { background-image: url(keyboard/key-caps.png); }
li#key_RTRN { background-image: url(keyboard/key-rtrn.png); }
li#key_LFSH, li#key_RTSH {
  background-image: url(keyboard/key-shift.png);
}

/* IE6 hack, using GIF instead of PNG */
* html li#key_TAB  { background-image: url(keyboard/key-tab.gif);  }
* html li#key_BKSP { background-image: url(keyboard/key-bksp.gif); }
* html li#key_CAPS { background-image: url(keyboard/key-caps.gif); }
* html li#key_RTRN { background-image: url(keyboard/key-rtrn.gif); }
* html li#key_LFSH, * html li#key_RTSH {
  background-image: url(keyboard/key-shift.gif);
}

/******************************************************************************
 * Displayed if the keyboard rendering is altered by an ad blocker
 */

#badRendering {
  clear: both;
  text-align: center;
  font-weight: bold;
  color: darkblue;
  display: none;
}

