ul#keyboard, ul#keyboard ul {
  width: 960px;
  font-size:22px;
  }
  
* html ul#keyboard ul {
  width: 1008px;
}

ul#keyboard {
 margin: 30px auto;
  position: relative;
  height: 345px;
}

/******************************************************************************
 * Default Keyboard Geometry (pc104)
 */

/* rows */

ul#keyboard li#row_AD {
  top: 69px;
}
ul#keyboard li#row_AC {
  top: 138px;
}
ul#keyboard li#row_AB {
  top: 207px;
    
}
ul#keyboard li#row_AA {
  top: 276px;
}

/* keys */
ul#keyboard li li {
  width: 60px;
  height: 60px;
}

/* special keys */
ul#keyboard li.specialKey * {
  font-size:18px;
}
li#row_AA li.specialKey {
 width: 82px;
}

ul#keyboard li#key_TAB,
ul#keyboard li#key_BKSP {
 width: 90px;
}
ul#keyboard li#key_CAPS,
ul#keyboard li#key_RTRN {
 width: 110px;
}
ul#keyboard li#key_LFSH,
ul#keyboard li#key_RTSH {
  width: 144px;
}
ul#keyboard li#key_SPCE {
  width: 360px;
  
}
ul#keyboard li#key_MENU {
  width: 60px;
}



/******************************************************************************
 * European Keyboard Geometry (pc105)
 */

.pc105 li#key_LFSH {
    width: 75px !important; /*neu*/
}
.pc105 li#key_RTRN {
      width: 40px !important;
  height: 129px !important;
  margin-top: -66px;
  margin-left: 72px;
}

.pc105 li#key_BKSL {
  margin-left: -31px;*/
    margin-top: 72px;
  margin-left: -46px;
}

.pc105 li#key_LSGT {
}

/* visual tweaks for CapsLock and Return */
.pc105 li#key_CAPS105, .pc105 li#key_RTRN105 {
}

.pc105 li#key_CAPS {
    width: 90px !important;
}
.pc105 li#key_CAPS, .pc105 li#key_RTRN {
}

.pc105 li#key_CAPS105 {
      margin-left: -96px;
  width: 109px !important;
}
.pc105 li#key_RTRN105 {
    margin-top: -66px;
  margin-left: -66px;
  width: 60px !important;
}


/******************************************************************************
*/

.pcrus li#key_BKSL {
  margin-top: 72px;
  margin-left: -45px;
}
.pcrus li#key_LSGT {
}

/* visual tweaks for CapsLock and Return */
.pcrus li#key_CAPS105, .pcrus li#key_RTRN105 {
}

.pcrus li#key_CAPS {
    width: 90px !important;
}

.pcrus li#key_CAPS, .pccyr li#key_RTRN {
}

.pcrus li#key_CAPS105 {
  margin-left: -96px;
  width: 109px !important;
}


.pcrus li#key_RTRN105 {
    margin-top: -66px;
  margin-left: -66px;
  width: 60px !important;
}


.pcrus li#key_LSGT {
}

.pcrus li#key_BKSL {
}


/******************************************************************************
 * Ergonomic Keyboard Geometry (TMx)
 */

.tmx li#key_CAPS {
}

.tmx li#key_BKSL {
 /* margin-top: 94px;
  margin-left: -96px;*/
 /*   margin-top: 141px;
  margin-left: -144px;*/
  margin-top: 140px;
  margin-left: -139px;
  
}
.tmx li#key_TLDE, .tmx li#key_TAB,  .tmx li#key_LFSH, .tmx li#key_LCTL,
.tmx li#key_AE12, .tmx li#key_AD12, .tmx li#key_RTSH, .tmx li#key_RCTL,
.tmx li#key_BKSP, .tmx li#key_RTRN {
    width: 69px !important;
}
.tmx li#key_LWIN, .tmx li#key_LALT, .tmx li#key_RWIN, .tmx li#key_RALT {
 width: 92px !important;
}
.tmx li#key_TLDE, .tmx li#key_TAB, .tmx li#key_LFSH, .tmx li#key_LCTL {
   margin-left: 8px;
}
.tmx li#key_AC01 {
    margin-left: 83px;
}
* html .tmx li#key_AC01 { 
    margin-left: 44px;
}
.tmx li#key_AE06, .tmx li#key_AD06, .tmx li#key_AC06, .tmx li#key_AB06 {
 margin-left: 81px;
}
.tmx li#key_BKSP {
    margin-left: -546px;
  height: 129px !important;
}
.tmx li#key_RTRN {
    margin-left: -471px;
    height: 129px !important;
}

.tmx li#key_LFSH, .tmx li#key_RTSH {
   height: 129px !important;
    margin-top: -66px;
}

.tmx li#key_RTSH {
    margin-left: 72px;
}
.tmx li#key_SPCE {
   width: 345px !important;
}


/******************************************************************************
 * Background Images for Tab, Backspace, Caps, Return, Shift
 */

li#key_TAB *, li#key_BKSP *, li#key_CAPS *,
li#key_LFSH *, li#key_RTSH *, li#key_RTRN * {
}

li.specialKey {
}

li#key_TAB  {}
li#key_BKSP {}
li#key_CAPS {}
li#key_RTRN {}
li#key_LFSH, li#key_RTSH {}

/* IE6 hack, using GIF instead of PNG */
* html li#key_TAB  {}
* html li#key_BKSP {}
* html li#key_CAPS {}
* html li#key_RTRN {}
* html li#key_LFSH, * html li#key_RTSH {}


/******************************************************************************
 * Displayed if the keyboard rendering is altered by an ad blocker
 */

#badRendering {
}

