body {
  font-family: sans-serif;
}

#menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background: #34475a;
  -webkit-app-region: drag;
}

#menu-bar > div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menubar-btn {
  -webkit-app-region: no-drag;
}


h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
}

h1 + p {
  margin-top: 0.5em;
  color: #c8a;
}

h1, h2 {
  color: black;
  border-bottom: 2px inset black; /*the line under the headline*/
  text-align: center;
}

dd, dt {
  margin-bottom: 0.5em;
}

.imgcenter {
  text-align:center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 100%;
      }
	  
.remark {
	background-color: #ADDFFF;
	font-size: 16px;
}

#github {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: block;
  width: 149px;
  height: 149px;
  background-image: url(images/forkme.png);
}

* html #github { /* IE6 */
  background-image: url(images/forkme.gif);
}

#github span {
  display: none;
}

