html, body {
	font-size: 20px;
	line-height: 1;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: none;
    background-image: linear-gradient(180deg, black, blue);
   background-attachment:fixed;
}

#wrapper {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 20px;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  background-color: white;
  -webkit-box-shadow: 0px 1px 10px #888;
  -moz-box-shadow: 0px 1px 10px #888;
  box-shadow: 0px 1px 10px #888;
}

#white {
  color: white;
}

body {
	background-color: #c8e5ff;
		text-align: center;
}

p, li {
	font-size: 0.9rem;
}

h1 {
	font-size: 20px;
}

.maxtime {
	background-color: yellow;
	color: red;
}

.time-left {
	background-color: yellow;
	color: red;
}

.score {
	background-color: lightgrey;
}

.gameover {
	color: red;
}
	
header{
	background-color: #ffffcc;
	margin:0;
	padding:0;
	top: 0%;
}

/*
#container1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
*/

#game-section {
}

#show-word {
	font-weight: bold;
}

#word-input {
	font-size: 0.9rem;
}

/* good-input, bad-input, end-input are used in the js listeners, 
they color assert-div */
.good-input {
	color: #006eff;
}

.bad-input {
	color: #ff0000;
}
.end-input {
	color: #8a2be2;
}

#display-time {
}

#first-div {
	text-align: center;
}

#second-div {
	font-size: 0.8rem;
	display: flex;
	flex-flow: row wrap;
}

#second-div>div {
	flex: 1 1 0;
	text-align: center;
	margin: 0 1%;
	padding: 4px;
	border-radius: 10px;
	background-color: lightblue;
}
